.node {
  width: 25px;
  height: 25px;

  border: 1px solid #4691f4;
}

.start {
  background-color: green;
}

.finish {
  background-color: red;
}
.wall{
    background-color: rgb(35, 34, 34);
}
.visited {
    background-color: #60a5fa;
}

.path {
    background-color: yellow;
}